---
layout: default
pagination:
  enabled: true
---
<section class="post">
  <div>
    <div class="post__header section-padding">
      <div class="grid">
        <h2>Portfolio</h2>
        <br>
        <p>I design open source objects, activities, and interactions that re-organize ideas about expertise, identity, equity, and our environment.</p>
        <p>I'm interested in how people build identity and strength through their interactions with objects, and the ways that objects can tell stories that people can be part of.</p>
      </div>
    </div>
  </div>
</section>
<!-- The main content area -->
<div class="posts">
  <div class="grid-xlarge">
    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>

      {% for post in paginator.posts %}

        <!-- The tag below includes the markup for each post - partials/post-card.html -->
        {% include post-card.html %}

      {% endfor %}
    </div>
  </div>

  {% include pagination.html %}
</div>
<style>
  /* ensure proper rendering of pixel art */
  img[alt="Instruments for multiple worlds"] {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }
</style>
